In [ ]:
!pip install selenium

In [26]:
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
import pandas as pd

driver = webdriver.Firefox()
driver.get('https://www.premierleague.com/stats/top/players/goals?se=-1')

In [27]:
player_rank = driver.find_elements_by_xpath('//td[@class="rank"]')
print(type(rank))
print("first_player rank", player_rank[0])
print("first_player", player_rank[0].text)
player_rank_list = []
for p in range(len(player_rank)):
    player_rank_list.append(player_rank[p].text)
print(player_rank_list)

<class 'list'>
first_player rank <selenium.webdriver.firefox.webelement.FirefoxWebElement (session="e25514f5-bf86-4a55-9c57-fd673ef1c4af", element="aa5048ae-8eb9-43d6-981c-f47f52b62808")>
first_player 1
['1', '2', '3', '4', '5', '6', '7', '8', '9', '10', '11', '12', '13', '14', '14', '16', '17', '18', '19', '20']

In [28]:
player_name = driver.find_elements_by_xpath('//a[@class="playerName"]')
player_name_list = []
for s in range(len(player_name)):
    player_name_list.append(player_name[s].text)   
print(player_name_list)

['Alan Shearer', 'Wayne Rooney', 'Andrew Cole', 'Sergio Agüero', 'Frank Lampard', 'Thierry Henry', 'Harry Kane', 'Robbie Fowler', 'Jermain Defoe', 'Michael Owen', 'Les Ferdinand', 'Teddy Sheringham', 'Robin van Persie', 'Jimmy Floyd Hasselbaink', 'Jamie Vardy', 'Robbie Keane', 'Nicolas Anelka', 'Dwight Yorke', 'Steven Gerrard', 'Romelu Lukaku']

In [30]:
player_nationality = driver.find_elements_by_xpath('//span[@class="playerCountry"]')
player_nationality_list = []
for s in range(len(player_nationality)):
    player_nationality_list.append(player_nationality[s].text)  
print(player_nationality_list)

['England', 'England', 'England', 'Argentina', 'England', 'France', 'England', 'England', 'England', 'England', 'England', 'England', 'Netherlands', 'Netherlands', 'England', 'Ireland', 'France', 'Trinidad & Tobago', 'England', 'Belgium']

In [31]:
player_state = driver.find_elements_by_xpath('//td[@class="mainStat text-centre"]')
player_state_list = []
for s in range(len(player_state)):
    player_state_list.append(player_state[s].text)  
print(player_state_list)

['260', '208', '187', '184', '177', '175', '170', '163', '162', '150', '149', '146', '144', '127', '127', '126', '125', '123', '120', '118']

In [32]:
player_tuple = list(zip(player_rank_list, player_name_list, player_nationality_list, player_state_list))

In [46]:
df = pd.DataFrame(player_tuple, columns=['Rank','Name','Nationality', 'State'])

In [47]:
df.head(len(player_rank_list))

   Rank                     Name        Nationality State
0     1             Alan Shearer            England   260
1     2             Wayne Rooney            England   208
2     3              Andrew Cole            England   187
3     4            Sergio Agüero          Argentina   184
4     5            Frank Lampard            England   177
5     6            Thierry Henry             France   175
6     7               Harry Kane            England   170
7     8            Robbie Fowler            England   163
8     9            Jermain Defoe            England   162
9    10             Michael Owen            England   150
10   11            Les Ferdinand            England   149
11   12         Teddy Sheringham            England   146
12   13         Robin van Persie        Netherlands   144
13   14  Jimmy Floyd Hasselbaink        Netherlands   127
14   14              Jamie Vardy            England   127
15   16             Robbie Keane            Ireland   126
16   17           Nicolas Anelka             France   125
17   18             Dwight Yorke  Trinidad & Tobago   123
18   19           Steven Gerrard            England   120
19   20            Romelu Lukaku            Belgium   118

In [48]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 4 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   Rank         20 non-null     object
 1   Name         20 non-null     object
 2   Nationality  20 non-null     object
 3   State        20 non-null     object
dtypes: object(4)
memory usage: 768.0+ bytes

In [49]:
df.to_csv("players_names_and_goals.csv", header=True, index=False)

In [50]:
df2 = pd.read_json(r"players_stats.json")
df2.head()

,Name,Height_cm,Appearances,Wins,Losses,Goals_per_match,Assists,Yellow_cards,Red_cards
0,Michael Owen,173,326,142,95,0.46,31,10,1
1,Jermain Defoe,171,496,185,188,0.33,33,40,2
2,Harry Kane,188,245,136,57,0.68,34,27,0
3,Mohamed Salah,175,158,107,21,0.61,34,4,0
4,Romelu Lukaku,190,252,112,80,0.45,35,19,0

In [51]:
df2.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21 entries, 0 to 20
Data columns (total 9 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Name             21 non-null     object
 1   Height_cm        21 non-null     int64
 2   Appearances      21 non-null     int64
 3   Wins             21 non-null     int64
 4   Losses           21 non-null     int64
 5   Goals_per_match  21 non-null     float64
 6   Assists          21 non-null     int64
 7   Yellow_cards     21 non-null     int64
 8   Red_cards        21 non-null     int64
dtypes: float64(1), int64(7), object(1)
memory usage: 1.6+ KB

In [52]:
df3 = pd.merge(df, df2, on=["Name"])

In [53]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 20 entries, 0 to 19
Data columns (total 12 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Rank             20 non-null     object
 1   Name             20 non-null     object
 2   Nationality      20 non-null     object
 3   State            20 non-null     object
 4   Height_cm        20 non-null     int64
 5   Appearances      20 non-null     int64
 6   Wins             20 non-null     int64
 7   Losses           20 non-null     int64
 8   Goals_per_match  20 non-null     float64
 9   Assists          20 non-null     int64
 10  Yellow_cards     20 non-null     int64
 11  Red_cards        20 non-null     int64
dtypes: float64(1), int64(7), object(4)
memory usage: 2.0+ KB

In [54]:
df3.head()

,Rank,Name,Nationality,State,Height_cm,Appearances,Wins,Losses,Goals_per_match,Assists,Yellow_cards,Red_cards
0,1,Alan Shearer,England,260,183,441,203,129,0.59,64,41,2
1,2,Wayne Rooney,England,208,176,491,284,103,0.42,103,102,3
2,3,Andrew Cole,England,187,178,414,206,106,0.45,73,40,6
3,4,Sergio Agüero,Argentina,184,173,275,186,45,0.67,47,23,1
4,5,Frank Lampard,England,177,184,609,349,127,0.29,102,59,2

In [55]:
df2.to_csv("players_stats.csv", index=False)

In [56]:
df3.to_csv("players_after_merge.csv", index=False)