In [1]:
!pip install psycopg2

Collecting psycopg2
  Downloading psycopg2-2.9.3-cp37-cp37m-win_amd64.whl (1.1 MB)
Installing collected packages: psycopg2
Successfully installed psycopg2-2.9.3

In [26]:
import pandas as pd
import psycopg2

In [27]:
params_dic = {
    "host"      : "localhost",
    "database"  : "ITITrainingDatabase",
    "user"      : "postgres",
    "password"  : "09877890"
}

conn = psycopg2.connect(**params_dic)
cursor1 = conn.cursor()

In [28]:
cursor1.execute('select cu.customer_id, cu.company_name, cu.city, cu.country, count(o.order_id) as Number_Of_Orders\nfrom customers cu left join orders o\non o.customer_id = cu.customer_id\ngroup by cu.customer_id\norder by cu.customer_id DESC;')

In [22]:
#df = pd.DataFrame(cursor1.fetchall(), columns=['customer_id','company_name','contact_name','contact_title','address','city','region','postal_code','country','phone','fax','number_of_orders'])
#df.head(10)

,customer_id,company_name,contact_name,contact_title,address,city,region,postal_code,country,phone,fax,number_of_orders
0,WOLZA,Wolski Zajazd,Zbyszek Piestrzeniewicz,Owner,ul. Filtrowa 68,Warszawa,None,01-012,Poland,(26) 642-7012,(26) 642-7012,7
1,WILMK,Wilman Kala,Matti Karttunen,Owner/Marketing Assistant,Keskuskatu 45,Helsinki,None,21240,Finland,90-224 8858,90-224 8858,7
2,WHITC,White Clover Markets,Karl Jablonski,Owner,305 - 14th Ave. S. Suite 3B,Seattle,WA,98128,USA,(206) 555-4112,(206) 555-4115,14
3,WELLI,Wellington Importadora,Paula Parente,Sales Manager,"Rua do Mercado, 12",Resende,SP,08737-363,Brazil,(14) 555-8122,None,9
4,WARTH,Wartian Herkku,Pirkko Koskitalo,Accounting Manager,Torikatu 38,Oulu,None,90110,Finland,981-443655,981-443655,15
5,WANDK,Die Wandernde Kuh,Rita Müller,Sales Representative,Adenauerallee 900,Stuttgart,None,70563,Germany,0711-020361,0711-035428,10
6,VINET,Vins et alcools Chevalier,Paul Henriot,Accounting Manager,59 rue de l'Abbaye,Reims,None,51100,France,26.47.15.10,26.47.15.11,5
7,VICTE,Victuailles en stock,Mary Saveley,Sales Agent,"2, rue du Commerce",Lyon,None,69004,France,78.32.54.86,78.32.54.87,10
8,VAFFE,Vaffeljernet,Palle Ibsen,Sales Manager,Smagsloget 45,Århus,None,8200,Denmark,86 21 32 43,86 22 33 44,11
9,TRAIH,Trail's Head Gourmet Provisioners,Helvetius Nagy,Sales Associate,722 DaVinci Blvd.,Kirkland,WA,98034,USA,(206) 555-8257,(206) 555-2174,3

In [29]:
df = pd.DataFrame(cursor1.fetchall(), columns=['customer_id','company_name','city','country','count'])
df.head(10)

  customer_id                       company_name       city  country  count
0       WOLZA                     Wolski  Zajazd   Warszawa   Poland      7
1       WILMK                        Wilman Kala   Helsinki  Finland      7
2       WHITC               White Clover Markets    Seattle      USA     14
3       WELLI             Wellington Importadora    Resende   Brazil      9
4       WARTH                     Wartian Herkku       Oulu  Finland     15
5       WANDK                  Die Wandernde Kuh  Stuttgart  Germany     10
6       VINET          Vins et alcools Chevalier      Reims   France      5
7       VICTE               Victuailles en stock       Lyon   France     10
8       VAFFE                       Vaffeljernet      Århus  Denmark     11
9       TRAIH  Trail's Head Gourmet Provisioners   Kirkland      USA      3

In [32]:
df.loc[df['count'] == 0]

   customer_id                          company_name    city country  count
34       PARIS                     Paris spécialités   Paris  France      0
69       FISSA  FISSA Fabrica Inter. Salchichas S.A.  Madrid   Spain      0

In [33]:
cursor1.close()