In [21]:
import pandas as pd

In [22]:
df = pd.read_xml('../3 Read_data/breakfast_menu.xml')
df.head()

,name,price,description,calories
0,Belgian Waffles,$5.95,Two of our famous Belgian Waffles with plenty ...,650
1,Strawberry Belgian Waffles,$7.95,Light Belgian waffles covered with strawberrie...,900
2,Berry-Berry Belgian Waffles,$8.95,Belgian waffles covered with assorted fresh be...,900
3,French Toast,$4.50,Thick slices made from our homemade sourdough ...,600
4,Homestyle Breakfast,$6.95,"Two eggs, bacon or sausage, toast, and our eve...",950

In [23]:
del df['description']

In [24]:
df.head()

                          name  price  calories
0              Belgian Waffles  $5.95       650
1   Strawberry Belgian Waffles  $7.95       900
2  Berry-Berry Belgian Waffles  $8.95       900
3                 French Toast  $4.50       600
4          Homestyle Breakfast  $6.95       950

In [25]:
df['price'] = df['price'].str.replace('$','')

C:\Users\Shrook\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.
  """Entry point for launching an IPython kernel.

In [26]:
df.head()

                          name price  calories
0              Belgian Waffles  5.95       650
1   Strawberry Belgian Waffles  7.95       900
2  Berry-Berry Belgian Waffles  8.95       900
3                 French Toast  4.50       600
4          Homestyle Breakfast  6.95       950

In [27]:
df.to_csv("../3 Read_data/breakfast_menu_w.csv", index=False, sep=";")